body{
    background-color: black;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

#video{
    width:100%;
    height:500px;
    object-fit: cover;
}
.icon{
    position: relative;
    top:13px;
    font-size: 25px;
}

.icon-img img{
      
       width:66px;
       height:40px;
       position:absolute;
       top:15px;
       
   }

.navigation{
    height:50px;
    background-color: rgb(14, 14, 14);
    color: blanchedalmond;
}  

.first-container{
    display: block;
    margin-top:55px;
}

.float-right{
    display: block;
    float: right;
    height:400px;
    width:500px;
    background-color: white;
    margin-right: 100px;
}

.float-left{
    display: block;
    height: 400px;
    width:700px;
    background-color: white;
}
.float-left img{
    width:700px;
    height:400px;
}

.second-container{
    display: block;
    margin-top: 55px;
}
.photo-info{
    height:150px;
    background-color: white;
}

.rover-block{
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    justify-content: center;
}
.rover-block > div{
   width:400px;
   height:500px;
   background-color:lightcoral;
   margin:20px;
   margin-top: 60px;
}