body{
    background-color: black;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

#video{
    width:100%;
    height:500px;
    object-fit: cover;
}
.icon{
    position: relative;
    top:13px;
    font-size: 25px;
}

.icon-img img{
      
       width:66px;
       height:40px;
       position:absolute;
       top:15px;
       
   }

.navigation{
    height:50px;
    background-color: rgb(14, 14, 14);
    color: blanchedalmond;
}  
.navigation li{
    display: inline;
    padding-left: 7px;
    padding-right:7px ;
    
   }
   .navigation ul{
    display: relative;
    text-align: right;
    margin: 0;
    padding-right: 1px;
   }
  
   .navigation a{
     text-decoration: none;
     color:var(--bluegray200);
     
   }

.first-container{
    display: block;
    margin-top:55px;
}

.float-right{
    display: block;
    float: right;
    height:400px;
    width:500px;
    background-color: white;
    margin-right: 100px;
}

.float-left{
    display: block;
    height: 400px;
    width:700px;
    background-color: white;
}
.float-left img{
    width:700px;
    height:400px;
    
}

.second-container{
    display: block;
    margin-top: 55px;
}
.photo-info{
    text-align: center;
    height:150px;
    
}

.rover-block{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}
.rover-block > div{
   width:400px;
   height:600px;
   margin:20px;
   margin-top: 60px;
}
.model{
    padding-bottom: 15px;
  

}
.rover-name{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px solid blanchedalmond;
}
p > span{
    font-weight:500;
}
p{
    font-weight: 200;
}
.rover-button a{
    border:1px solid blanchedalmond;
    margin-right:10px;
    text-decoration: none;
    padding:5px;
    border-radius: 0.5rem;
    color:blanchedalmond;
}

.rover-button{
    text-align: right;
}