:root{
    --block: rgba(81, 90, 138, 0.38);
    --link:rgba(104, 101, 101, 0.72);

}
.flex-container{
    display:flex;
    flex-direction: column;
    max-width:1450px;
    background-color: yellow;
    margin: auto;
    

}
.flex-container > div{
    display: block;
    max-width:1400px;
    min-width: 400px;
    height: 200px;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color:var(--block);   
    color: white;
    padding: 5px 3px 3px 5px;
}

#myVideo{
    width:300px;
    height:200px;
    float: left;
    border-radius:1rem ;
}

.desc{
    overflow:auto;
    max-height:155px;
    min-height: 154px;
    padding-left: 0.5rem;
    margin-top:15px ;
}
.Link{
    text-decoration: none;
    padding-left: 0.5rem;
}

