:root{
    --block: rgba(81, 90, 138, 0.38);
    --link:rgba(104, 101, 101, 0.72);
    --bluegray50: #F8FAFC;
    --bluegray100: #F1F5F9;
    --bluegray200: #E2E8F0;
    --bluegray300: #CBD5E1;
    --bluegray400: #94A3B8;
    --bluegray500: #64748B;
    --bluegray600: #475569;
    --bluegray700: #334155;
    --bluegray800: #1E293B;
    --bluegray900: #0F172A;
}
.bind-flex{
    overflow: auto;
    height: 600px;
    width: 350px;

}

.flex-container{
    display:flex;
    flex-flow: column;
    width:300px;
    

}
.flex-container > div{
    display: block;
    width: 300px;
    height: 60px;
    margin: 0.5rem 1rem ;
    border-radius: 1rem;
    background-color:var(--block);   
    color:var(--bluegray300);
    padding: 5px 3px 3px 5px;
}
a{
    display: block;
    text-decoration: none;
    color:var(--bluegray300);
    border:1px solid var(--bluegray500);
    border-radius: 0.5rem;
    padding: 1px 5px;
    width:30px;
    font-weight: 600;
    font-size: 13px;
    
    
}

.link{
    margin-left: 15rem;
    margin-top: 2px;
    text-align: center;
}
iframe{
    float: right;
    
    width:65vw;
    height: 550px;
    border:1px solid rgba(218, 218, 218, 0);
    padding-right: 3rem;

    
}
body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
#myVideo{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: fixed;
    z-index: -100;
}

.header{
    display: block;
    margin-top: 1rem;
    color: white;
}
 #textarea{
   
    text-align: center;
   
    border-radius: 0.5rem 0 0 0.5rem;
   
    font-size:15px;
    background-color: rgba(255, 255, 255, 0.555);
    border: none;
    
}

.search{
    
    width:60px;
    
    background-color: var(--link);
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    font-size: 15px;
    border:none;
   

    cursor: pointer;
}
.search:hover{
    background-color: rgb(117, 114, 114);
    transition: 0.5s;
}
.short-img{
   float: left;
    width:60px;
    height:60px;
    border-radius: 1rem;
}
.desc{
    padding-left: 4.5rem;
    min-height: 37.96px;
    font-size: 13px;
    
}
a{
    text-decoration: none;
}

.search-tab{
    display:flex;
    justify-content: center;
    margin-top: 15px;
}
.search-info{
    text-align: center;
}
.navigation{
    background-color: var(--bluegray300);
}