:root{
  --container:#6B7280;
  --nav:rgb(20, 172, 172);
  --para-even:#E5E7EB;
  --para-odd:#D1D5DB;
  --block: rgba(81, 90, 138, 0.38);
  --link:rgba(104, 101, 101, 0.72);
  --bluegray50: #F8FAFC;
  --bluegray100: #F1F5F9;
  --bluegray200: #E2E8F0;
  --bluegray300: #CBD5E1;
  --bluegray400: #94A3B8;
  --bluegray500: #64748B;
  --bluegray600: #475569;
  --bluegray700: #334155;
  --bluegray800: #1E293B;
  --bluegray900: #0F172A;
}

body{
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bluegray800);
}

.flex-container {
    display: flex;
    flex-direction: row;
    background-color: var(--bluegray800);
    justify-content:center;
    flex-flow:wrap;
    padding:2rem;
    
  }
  
  .flex-container > div {
    display: block;
    background-color: var(--container);
    width: 250px;
    height: 270px;
    margin: 10px;
    text-align: center;
    border-radius: 1rem;
    color: white;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .disc{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .header{
    display: block;
    font-family: Impact, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    margin: 1rem;
    word-wrap: break-word;
  }
  .param{
    
    text-align: left;
    padding: 5px;
    
  }
 /* .navigation{
    display: block;
    background-color: var(--nav);
    border-radius:0rem 0rem 1rem 1rem;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    color:white;
    padding: 1rem;
    text-shadow: 2px 2px 10px black;

  }*/
  .navigation{
    background-color: var(--block);
    height:50px;
    color:var(--bluegray200);
  }



.icon{
 position: relative;
 top:13px;
 font-size: 25px;
}
.icon-img img{
   
    width:66px;
    height:40px;
    position:absolute;
    top:15px;
    
}


  .block{
    font-size:60px;
    color: var(--bluegray700);
    font-weight: bolder;
    padding: 2rem;
   
    clear: left;
  }
  .float-left{
    padding-top: 2rem;
    display: block;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width:800px;
    border-radius: 0rem 0rem 1rem 2rem;
    border-top: 3px solid var(--container);
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .box{
    display: block;
    height: 650px;
    margin: 1px;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
    background-color: var(--bluegray400);
  }

  .float-right{
    display: block;
    float: right;
    padding:3rem 0rem 0rem 0rem ;
    margin:2px 15px;
    max-width: 450px;
  }
  p{
    border-left: 3px solid black;
    padding:0.5rem;
    border-top:1px solid var(--para-even);
  

  }
  p:nth-child(even){
    background-color: var(--bluegray500);

  }
  #textarea{
    display: block;
    border:none;
    border-radius: 0.5rem 0 0 0.5rem;
    width:200px;
    padding: 0.5rem;
  
  }
  button{
    display: block;
    font-size: 15px; 
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0rem 0.5rem 0rem 0.5rem;
    background-color: var(--bluegray400);
    width: 70px;
    border:none;
    cursor: pointer;
  }
 .section{
   display:flex;
   justify-content: center;
   margin-bottom: 2rem;;
 }